/system/user/addons/member_list/Tests/logs/junit.xml
/system/user/addons/member_list/Tests/logs/logfile.txt
/system/user/addons/member_list/Tests/logs/teamcity.txt
/system/user/addons/member_list/Tests/logs/testdox.html
/system/user/addons/member_list/Tests/logs/testdox.txt
/system/user/addons/member_list/Tests/logs/testdox.xml
/system/user/addons/member_list/Tests/.phpunit.result.cache
